/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
/*general style*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*genric style*/
    color: #3a3a3a;
}
.homeimage
/*header*/
header {
    background-color: rgb(3, 27, 149);
}

/*footer*/
footer {
    background-color: lightblue;
}