/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
/*general style*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*genric style*/
    color: #3a3a3a;
    font-family: 'lato', sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
nav > a:hover {
    color:red;
}
nav {
    position: absolute;
}
/*header*/
header {
    background-color: rgb(186, 195, 243);
    text-align: right;
}

/*footer*/
footer {
    background-color: lightblue;
}